html { 
	font-family: Exo;
}
.frontimage {
	background: linear-gradient(
		rgba(33, 150, 243, 0.75), 
		rgba(33, 150, 243, 0.75)
		), url(/static/img/wac.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.endimage {
	height: 75vh;
    background: url(/static/img/forest-banner.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    position: relative; 
}
.center-div {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.bottom-div {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	bottom: 0;
}